.nav {
    grid-area: n;
    background-color: darkslateblue;
    padding: 20px;
    margin-right: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}